/* TokenExpiredModal.css */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.token-expired-modal {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  text-align: center;
  max-width: 400px;
  width: 90%;
}

.modal-actions {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-around;
}

.primary-button {
  background-color: #1a73e8;
  color: white;
  border: none;
  padding: 0.6rem 1rem;
  margin: 0.5rem 0.4rem 0.5rem 0;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.95rem;
  transition: background-color 0.2s ease-in-out;
}

.secondary-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 0.6rem 1rem;
  margin: 0.5rem 0.4rem 0.5rem 0;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.95rem;
  transition: background-color 0.2s ease-in-out;
}

.primary-button:hover {
  background-color: #155ab6;
}

.secondary-button:hover {
 background-color: #751d16
}
